.footer-follow {

  //MPT
  overflow: hidden;
  .instagram-link-z-index {
    position: relative;
    z-index: 2;
  }

  .footer-follow--header .footer-follow--title {
    @include sm {
      margin-bottom: -1.5rem;
      flex-grow: 3;
      max-width: 60%;
      margin-left: 40%;
    }
  }

  .footer-follow--images {
    margin: 0 -1rem;

    .follow-images {
      flex-grow: 1;
      max-width: 100%;
      padding: 0 0.5rem;
      display: flex;
    }

    .follow-images:nth-child(1) {
      transform: rotate(20deg);
      padding-top: 112px;

      @include sm {
        padding-top: 0;
        padding-bottom: 194px;
      }
    }
    .follow-images:nth-child(2) {
      transform: rotate(-8deg);
      @include sm {
        padding-bottom: 40px;
      }
    }
    .follow-images:nth-child(3) {
      transform: rotate(2deg);
      padding-bottom: 114px;
      display: none;

      @include sm {
        display: flex;
      }
    }
    .follow-images:nth-child(4) {
      transform: rotate(8deg);
      display: none;

      @include lg {
        display: flex;
      }
    }
    .follow-images:nth-child(5) {
      transform: rotate(-8deg);
      padding-bottom: 154px;

      display: none;

      @include lg {
        display: flex;
      }
    }
  }
}
